{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Features</th>
                    <th>Stock</th>
                    <th>Order</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbdoy>
                    {% for product in products %}
                    <tr id="pr{{ product.id }}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.features }}</td>
                        <td>{{ product.qty }}</td>
                        <td><form method="post" class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <input type="number" name="qty" min="1" class="form-control mr-sm-2" placeholder="Enter Quantity" />
                            <input type="text" name="pid" value="{{ product.id }}" hidden />
                            <input type="submit" value="Book" class="btn btn-outline-info my-2 my-sm-0" /></form></td>
<!--                        <td><a href="../book/{{ product.id }}">Book</a></td>-->
                        <td><a href="../products/update/{{ product.id }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbdoy>
            </table>
        </div>
    </div>
{% endblock %}

